<!DOCTYPE html>

<html>

    {{>head}}

    {{>header}}
    
    <body>
        {{>titleMenu}}

        {{>titleHead}}
        
        <p><img src="/img/mind.jpg"></p>
        <p>Мы - крутая команда, не знающая преград</p>

       
        
    </body> 

    {{>footer}}
     
</html>